*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}



nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:transparent;
    transition:0.4s;
    z-index:1000;
}

nav.scrolled{
    background:#0f172a;
    padding:14px 60px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
    padding:8px 14px;
    border-radius:25px;
    transition:0.3s;
}

.nav-links a:hover{
    background:#38bdf8;
    color:#000;
    transform:scale(1.1);
}



.section{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.home{
    background:linear-gradient(135deg,#4f46e5,#06b6d4);
}

#about{
    background:#2563eb;
}

#services{
    background:#0f766e;
}

#portfolio{
    background:#9333ea;
}

#contact{
    background:#111827;
}

.section h1{
    font-size:55px;
    margin-bottom:15px;
}

.section p{
    font-size:22px;
}



@media(max-width:768px){

nav{
    flex-direction:column;
    padding:15px;
}

.nav-links{
    margin-top:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.nav-links li{
    margin:10px;
}

.section h1{
    font-size:36px;
}

.section p{
    font-size:18px;
}

}
